<h3>Tag this feed</h3>

<%= form_for :tag, url: new_tag_path do |f| %>
	<%= f.text_field :name, placeholder: "Category" %>
	<%= f.submit value: "Tag feed" %>
	<%= f.hidden_field :feed, :value => params[:feed] %>

<% end %>
