<h3>Get reading.</h3>

<%= form_for @feed, html: {id: "new-feed-form"} do |f| %>
	<%= f.text_field :url, placeholder: "Enter RSS URL" %>
	<%= f.submit value: "Add" %>

<% end %>

<div id="messages"></div>
