<h3>Get Organized.</h3>

<%= form_for @category do |f| %>
	<%= f.text_field :name, placeholder: "Feed Category" %>
	<%= f.submit value: "Add", id: "new-category-submit" %>

<% end %>

<div id="category-message"></div>
