<h3>Get Organized.</h3>

<%= form_for @category do |f| %>
	<%= f.text_field :name, placeholder: "Feed Category", class: 'form-control' %>
	<%= f.submit value: "Add", id: "new-category-submit", class: 'form-control' %>

<% end %>

<div id="category-message"></div>
