
<div id='add-category'>
	<%= render partial: 'feeds/new_category_form' %>
</div>
<div id="sidebar-scroll">
	<div id='feeds-section'>
		<h4 data-feed-id='feed_all' data-toggle="collapse" data-target='#all-feeds'>Tracked Feeds</h4>
		<ul id='all-feeds' class="collapse in">
		</ul>

		<h4>Categories</h4>
		<ul id='all-categories'>
		</ul>
	</div>
</div>
