<h2>Manage feeds</h2>
<div id='add-category'>
	<%= render partial: 'feeds/new_category_form' %>
</div>

<div id='feeds-section'>
	<h3 data-feed-id='feed_all'>All feeds</h3>
	<ul id='all-feeds'>
	</ul>

	<h3>Categories</h3>
	<ul id='all-categories'>
	</ul>
</div>