
<div id='add-category'>
	<%= render partial: 'feeds/new_category_form' %>
</div>

<div id='feeds-section'>
	<h4 data-feed-id='feed_all'>Tracked Feeds</h4>
	<ul id='all-feeds'>
	</ul>

	<h4>Categories</h4>
	<ul id='all-categories'>
	</ul>
</div>
