<h1>Feeds#index</h1>

<div id='add-feed'>
	<%= render partial: 'feeds/new_feed_form' %>
</div>

<div id='tag-feed'>
	<% if params[:feed] %>
		<%= render partial: 'feeds/categorize_feed_form' %>
	<% end %>
</div>

<div id='posts'>
	<% @posts.each do |post| %>
		<p><b><%= post.feed.name %></b> | <%= post.title %></p>
	<% end %>
</div>
