<h1>Feeds#index</h1>

<div id='add-feed'>
	<%= render partial: 'feeds/new_feed_form' %>
</div>

<div id='tag-feed' class='hide'>
	<%= render partial: 'feeds/categorize_feed_form' %>
</div>

<div id='posts'>
</div>
