<div id="homepage">

	<div id="home-content">
		<div id="home-title">Loopd</div>
		A simple RSS reader

		<div id="sign-in">
			<%= link_to 'Sign Up', new_user_registration_path, id: "login-button" %>
		</div>
		</div>



</div>
<div id='home-posts'>
</div>
