<div id="homepage">
	<div id="home-top">
	<%= link_to 'User Login', new_user_session_path, id: "user-login-link" %>

		<div id="home-content">
			<div id="home-title">Loopd</div>
			A simple RSS reader

			<div id="sign-in">
				<%= link_to 'Sign Up', new_user_registration_path, id: "login-button" %>
			</div>
		</div>
	</div>

	<div id="home-description">
		<div id="home-description-content">
		Loopd is a lightweight RSS reader that allows you to focus on the content you love, without all of the clutter.
		</div>

	</div>
</div>
<div class="container">
	<div id="home-posts-desc">See Loopd in action</div>
	<div id='posts' class='home-page'>

	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		Loopd.getHomePosts();
	});
</script>
