@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.container {
	width: 70%;
	margin: 0 auto;
}

.selected {
	font-weight: bold;
}

#page {
	margin-left: 25%
}

#nav-bar-content {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 30%;
	height: 100%;
	margin-bottom: 0px;
	background: whitesmoke;
	padding: 20px;
	word-wrap: break-word;
}

#nav-bar-toggle-button {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 1000;
}

.hide {
	display: none;
}

.show {
	display: block;
}

#posts {
	padding-top: 12px;
}

#posts .post {
	border: 2px solid black;
	margin-top: 4px;
	padding: 8px;
}
