.devise-class a {
	font-weight: bold;
	color: white;
}

.devise-class {
  background: image-url('tranquilsky.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 900px;
  padding-top: 80px;
  -webkit-box-shadow: 0px 5px 13px 0px rgba(49, 50, 50, 0.82);
  -moz-box-shadow:    0px 5px 13px 0px rgba(49, 50, 50, 0.82);
  box-shadow:         0px 5px 13px 0px rgba(49, 50, 50, 0.82);
}

.devise_container {
  text-align: center;
  color: white;
  border-radius: 20px;
  border: 3px solid white;
  width: 40%;
  margin: 0 auto;
  padding: 10px;
}

.devise_container h2 {
  font-size: 40px;
}

.devise_container label {
  font-size: 18px;
}

.devise_forms {
  margin-top: 20px;
}

.devise_forms input[type="submit"] {
  background: #333332;
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: auto;
}

.devise_forms input {
  border: none;
  color: black;
  padding: 10px;
  min-width: 250px;
  border-radius: 5px;
  font-size: 16px;
}

.devise_container h2 {
  font-size: 40px;
}
